@import '~bootstrap/dist/css/bootstrap.min.css';

.mat-mdc-snack-bar-container {
    text-align: center;

    &.error {
        --mdc-snackbar-container-color: #D61A3C;
        --mdc-snackbar-supporting-text-color: #fff !important;
    }

    &.success {
        --mdc-snackbar-container-color: green;
        --mdc-snackbar-supporting-text-color: #fff !important;
    }
}

.bg-color {
    background-color: #800000;
}

.font-color {
    color: #f0f0f0;
}

.dark-font-color {
    color: #800000;
}

.dark-border-color {
    border: 2px solid #800000;

}

.site-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 20px;
    z-index: 1;
}

.site-title i {
    color: #f39c12;
    margin-right: 10px;
}

.custom-border .form-control {
    border: 3px solid #800000;
}

.cross {
    margin-left: 5px;
    cursor: pointer;
    color: red;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}